<h1>Instruments#show</h1>
<p>Find me in app/views/instruments/show.html.erb</p>

<h1><%= @instrument.name %></h1>
<p><%= @instrument.description %></p>
<p>Address: <%= @instrument.address %></p>
<p>Category: <%= @instrument.category %></p>
<p>Price: <%= @instrument.price %></p>

<%= link_to 'Back to Instruments', instruments_path, class: "" %>
